<app-add-todo (addTodoItem)="addTodo($event)"></app-add-todo>
<app-todo-filter
  [completeCount]="completeCount"
  [uncompletedCount]="filteredTodos.length - completeCount"
  [totalTodo]="filteredTodos.length"
  (selectedFilter)="filterTodoByStatus($event)"
></app-todo-filter>
@defer{
<div class="w-75 mx-auto mt-4 align-middle">
  <div>
    <div
      class="text-center d-flex justify-content-between bg-secondary py-3 text-white"
    >
      <div class="col-sm-1 fw-bold">No.</div>
      <div class="col-sm-2 fw-bold" *ngIf="showCompleteCol">Mask as Done</div>
      <div class="col-sm-4 fw-bold">Description</div>
      <div class="col-sm-2 fw-bold">Edit todo</div>
      <div class="col-sm-2 fw-bold">Delete todo</div>
    </div>
  </div>
  <div class="fs-6">
    <div class="w-100">
      <app-todo-item
        *ngFor="let todo of todos; let ind = index"
        [showCompleteCol]="showCompleteCol"
        [todo]="todo"
        [index]="ind"
      ></app-todo-item>
    </div>
  </div>
</div>
} @placeholder {
<div>loading</div>
} @loading {
<div>loading.......</div>
}
<app-progress-bar
  [todoAmount]="filteredTodos.length"
  [completed]="completeCount"
></app-progress-bar>
