<section class="h-100" style="background-color: #eee; min-height: 100vh">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4" style="min-height: 80vh">
            <div class="row">
              <div class="col-lg-7">
                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">
                      You have {{ cart.items.length }} items in your cart
                    </p>
                  </div>
                  <div
                    class="d-flex justify-content-between gap-2 align-items-center"
                  >
                    <span class="text-muted" style="width: 100px"
                      >Sort by:</span
                    >
                    <select
                      name="cartFilter"
                      id="cfilter"
                      class="form-select form-select-sm"
                      (change)="filterCartItem()"
                      [(ngModel)]="condition"
                    >
                      <option value="none" selected>None</option>
                      <option value="price">Price</option>
                      <option value="date">Date</option>
                      <option value="author">Author</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-end mb-3 align-items-center">
                  <label for="select-all" class="col-2">Select All</label>
                  <input
                    type="checkbox"
                    value="all"
                    id="select-all"
                    style="width: 18px; height: 18px"
                    [(ngModel)]="isSelectAll"
                    (click)="onSelectAllItem()"
                  />
                </div>

                <div
                  *ngIf="
                    condition == 'date' || condition == 'author';
                    else noCondition
                  "
                >
                  <div *ngFor="let item of filteredList">
                    <div class="pl-2 fw-bold my-2">{{ item.key | date }}</div>
                    <app-cart-item
                      #cartItem
                      *ngFor="let i of item.items; let idx = index"
                      [item]="i"
                    ></app-cart-item>
                  </div>
                </div>

                <ng-template #noCondition>
                  <app-cart-item
                    #cartItem
                    *ngFor="
                      let item of cart.items;
                      let idx = index;
                      trackBy: trackByItem
                    "
                    [item]="item"
                    (emitSelectChange)="toggleSelectAll($event)"
                    (emitQuantityChange)="calculateCartAmount()"
                  ></app-cart-item>
                </ng-template>

                <!-- <app-skeleton
                  [classes]="['shadow', 'bg-secondary']"
                  [styles]="{ height: '85px' }"
                >
                </app-skeleton> -->

                <div class="text-end col-lg-11" *ngIf="isDisplayDeleteButton">
                  <button class="btn btn-danger" (click)="deleteCartItem()">
                    Delete
                  </button>
                </div>
              </div>
              <div class="col-lg-5 mt-2">
                <div
                  class="card bg-primary text-white rounded-3"
                  style="position: fixed; width: 428px"
                >
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                      <h5 class="mb-0">Card details</h5>
                      <img
                        src="https://i.pinimg.com/736x/bb/ac/dc/bbacdc0c639c54fcfc7d2a76bdbd1f1d.jpg"
                        class="img-fluid rounded-3"
                        style="width: 45px"
                        alt="Avatar"
                      />
                    </div>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Total</p>
                      <p class="mb-2">{{ amountOfSelectItem | currency }}</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">$20.00</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total (Incl. taxes)</p>
                      <p class="mb-2">{{ amountOfSelectItem | currency }}</p>
                    </div>

                    <button
                      type="button"
                      class="btn btn-dark"
                      [disabled]="!isDisplayDeleteButton"
                      (click)="redirectToOrderPage()"
                    >
                      Checkout
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
