<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse justify-content-end w-100"
      id="navbarNav"
    >
      <!-- Input search -->
      <app-search></app-search>
      <!-- Navbar Links -->
      <div class="d-flex justify-content-between col-4">
        <button
          class="btn border text-white shadow bg-dark"
          [routerLinkActive]="'font-weight-bold'"
          (click)="onButtonClick('home')"
        >
          Home
        </button>

        <button
          class="btn border text-white shadow bg-dark"
          [routerLinkActive]="'font-weight-bold'"
          (click)="onButtonClick('/images')"
        >
          Image
        </button>

        <button
          [routerLinkActive]="'font-weight-bold'"
          class="btn border text-white shadow bg-dark"
          *ngIf="user; else noUser"
        >
          <a
            class="text-white nav-link"
            [routerLink]="
              user.account.userId ? ['todo', user.account.userId] : ['todo']
            "
          >
            Todo
          </a>
        </button>
        <ng-template #noUser>
          <button
            class="btn border text-white shadow bg-dark"
            [routerLinkActive]="'font-weight-bold'"
            (click)="onButtonClick('/todo')"
          >
            Todo
          </button>
        </ng-template>
        <button
          class="btn border text-white shadow bg-dark"
          [routerLinkActive]="'font-weight-bold'"
          (click)="onButtonClick('', true)"
        >
          {{ isSignin ? "Signout" : "Signin" }}
        </button>
        <button
          class="btn border text-white shadow bg-dark"
          [routerLinkActive]="'font-weight-bold'"
          (click)="onButtonClick('/order/review')"
        >
          My Order
        </button>
        <div>
          <button
            class="btn border text-white shadow bg-dark"
            [routerLinkActive]="'font-weight-bold'"
            (click)="onButtonClick('cart')"
          >
            <fa-icon [icon]="headerIcon.cart"></fa-icon>
          </button>
          <div class="cart-amount">{{ totalItemInCart }}</div>
        </div>
      </div>
    </div>
  </div>
</nav>
