<section class="h-100" style="background-color: #eee; min-height: 100vh">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="h4 text-left fw-bold mb-5 ml-2">Order Preview</div>
              <div class="col-lg-7">
                <app-order-summary #orderSummary></app-order-summary>
              </div>
              <div class="col-lg-5">
                <div class="h-100">
                  <app-shipping-detail
                    #shippingDetail
                    (createOrderEmitter)="createOrder($event)"
                  ></app-shipping-detail>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
