<div
  class="w-100 p-5"
  style="
    background-image: url('src\assets\images\signin-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  "
>
  <div class="center d-flex justify-content-center h-100">
    <form
      [formGroup]="profileForm"
      (ngSubmit)="handleSubmit()"
      class="border p-4 rounded w-25 bg-white shadow"
    >
      <h3 class="text-center">SIGNIN</h3>
      <div class="form-group">
        <label for="username" class="form-label">Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control w-100"
        />
      </div>
      <div class="mt-2 form-group">
        <label for="password" class="form-label">Password</label>
        <input
          id="password"
          formControlName="password"
          class="form-control w-100"
        />
      </div>
      <div class="error-message text-danger mt-2">
        <span
          *ngIf="
            profileForm.get('password')?.invalid &&
            profileForm.get('password')?.touched
          "
        >
          Password is required
        </span>
        <span
          *ngIf="
            profileForm.get('username')?.invalid &&
            profileForm.get('username')?.touched
          "
        >
          Username is required and must be at least 3 characters
        </span>
      </div>
      <div>
        <a [routerLink]="'/signup'" class="text-end my-2">Signup</a>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-3 w-100"
        [disabled]="!profileForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
