<form [formGroup]="addressForm" [ngClass]="externalClass">
  <h4 class="text-center mb-2">{{ "Address" | uppercase }}</h4>
  <div class="form-group mb-3">
    <label for="street" class="form-label">Street</label>
    <input
      formControlName="street"
      type="text"
      class="form-control"
      id="street"
      placeholder="Street"
    />
  </div>
  <app-form-error
    [control]="addressForm.get('street')"
    [controlName]="'Street'"
  ></app-form-error>
  <!-- Suite and City -->
  <div class="row mb-2">
    <div class="col-md-6">
      <div>
        <label for="suite" class="form-label">Suite</label>
        <input
          formControlName="suite"
          type="text"
          class="form-control"
          id="suite"
          placeholder="Suite"
        />
      </div>
      <app-form-error
        [control]="addressForm.get('suite')"
        [controlName]="'Suite'"
      ></app-form-error>
    </div>
    <div class="col-md-6">
      <div>
        <label for="city" class="form-label">City</label>
        <input
          formControlName="city"
          type="text"
          class="form-control"
          id="city"
          placeholder="City"
        />
      </div>
      <app-form-error
        [control]="addressForm.get('city')"
        [controlName]="'City'"
      ></app-form-error>
    </div>
  </div>

  <!-- Zipcode -->
  <div class="form-group mb-2">
    <label for="zipcode" class="form-label">Zipcode</label>
    <input
      formControlName="zipcode"
      type="text"
      class="form-control"
      id="zipcode"
      placeholder="Zipcode"
    />
    <app-form-error
      [control]="addressForm.get('zipcode')"
      [controlName]="'Zipcode'"
    ></app-form-error>
  </div>
  <ng-content></ng-content>
</form>
