<div
  class="col-10 mx-auto bg-light d-flex gap-3 p-4 border rounded-3 shadow mt-4"
>
  <!-- Image Section -->
  <div class="col-5 text-center">
    <img
      [src]="selectedImage.download_url"
      class="card-img-top img-fluid rounded-3"
      [alt]="'Image by ' + selectedImage.author"
    />
  </div>

  <!-- Details Section -->
  <div class="w-100 px-3">
    <!-- Action Buttons -->
    <div class="row d-flex justify-content-around align-items-center mb-4">
      <div
        class="col-3 d-flex justify-content-center gap-2 border py-2 rounded shadow-sm"
        style="cursor: pointer"
      >
        <fa-icon
          [icon]="faIcon.heart"
          style="color: red; cursor: pointer"
        ></fa-icon>
        <span class="fw-bold">Like 900</span>
      </div>
      <div
        class="col-2 d-flex justify-content-center gap-2 border py-2 rounded shadow-sm"
        style="cursor: pointer"
      >
        <fa-icon [icon]="faIcon.upload"></fa-icon>
        <span class="fw-bold">Share</span>
      </div>
      <div
        class="col-2 d-flex justify-content-center gap-2 border py-2 rounded shadow-sm"
        style="cursor: pointer"
      >
        <fa-icon [icon]="faIcon.ellipsish"></fa-icon>
        <span class="fw-bold">More</span>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <button class="btn btn-primary py-2 px-4">Buy Now!</button>
      </div>
    </div>

    <!-- Image Details -->
    <div>
      <h4 class="text-primary mb-3">{{ selectedImage.author }}</h4>
      <p>
        <strong>Description:</strong> Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Repellendus nesciunt nulla consequatur dolorum
        asperiores.
      </p>
      <p class="mb-2">
        <strong>Resolution:</strong> {{ selectedImage.width }}x{{
          selectedImage.height
        }}
      </p>
      <p class="mb-2">
        <strong>Quantity:</strong> {{ selectedImage.quantity }}
      </p>
      <p>
        <strong>Cost:</strong>
        <span class="text-white bg-success border p-2 rounded">{{
          selectedImage.price | currency
        }}</span>
      </p>
    </div>

    <!-- Quantity and Add to Cart -->
    <div class="form-group d-flex align-items-center mt-4 gap-3">
      <button
        class="btn btn-outline-secondary"
        (click)="decreaseQuantity()"
        style="width: 40px; height: 40px"
      >
        -
      </button>
      <input
        type="text"
        class="form-control text-center"
        style="max-width: 80px"
        [(ngModel)]="quantity"
      />
      <button
        class="btn btn-outline-secondary"
        (click)="increaseQuantity()"
        style="width: 40px; height: 40px"
      >
        +
      </button>
      <button
        class="btn btn-primary text-end"
        (click)="addImageToCart()"
        appHoverButton
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
