<div class="d-flex mt-2 align-items-center justify-content-between">
  <div class="text-center col-sm-1">
    {{ index + 1 }}
  </div>
  <div class="text-center col-sm-2" *ngIf="showCompleteCol">
    <input
      type="checkbox"
      [checked]="todo.completed"
      id="todo_{{ todo.id }}"
      (click)="toggleTodoCompletion(todo.id)"
    />
  </div>
  <div
    class="align-center col-sm-4"
    [appHightlightCompleteTodo]="todo.completed"
    *ngIf="!isEdit(todo.id); else editTodo"
  >
    {{ todo.title | firstLetterUppercase }}
  </div>
  <ng-template #editTodo>
    <div class="col-sm-4">
      <div class="w-100">
        <input
          type="text"
          class="form-control col-sm-4"
          [(ngModel)]="editText"
          name="edit-todo-input"
        />
      </div>
    </div>
  </ng-template>
  <div class="text-center col-sm-2">
    <div *ngIf="!todo.completed">
      <button class="btn btn-info text-white" (click)="onEditTodo(todo.id)">
        {{ !isEdit(todo.id) ? "edit" : "save" }}
      </button>
    </div>
  </div>
  <div class="text-center col-sm-2">
    <button
      class="btn btn-danger text-white"
      [ngStyle]="{ 'text-decoration': 'none' }"
      (click)="deleteTodo(todo.id)"
    >
      delete
    </button>
  </div>
</div>
<hr />
