<div class="container col-md-4">
  <form
    [formGroup]="accountForm"
    class="form mx-auto border mt-5 p-3 rounded shadow"
    *ngIf="step == 1"
  >
    <h3 class="text-center">SIGNUP</h3>
    <div class="form-group">
      <label for="username" class="form-label">Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control w-100"
      />
    </div>
    <app-form-error
      [control]="accountForm.get('email')"
      [controlName]="'Email'"
    >
    </app-form-error>
    <div class="mt-2 form-group">
      <label for="password" class="form-label">Password</label>
      <input
        id="password"
        formControlName="password"
        class="form-control w-100"
        type="text"
      />
    </div>
    <app-form-error
      [control]="accountForm.get('password')"
      [controlName]="'Password'"
      [minLength]="8"
    >
    </app-form-error>

    <div class="mt-2 form-group">
      <label for="password" class="form-label">Confirm Password</label>
      <input
        id="retrPpassword"
        formControlName="retryPassword"
        class="form-control w-100"
        type="text"
        (input)="checkConfirmPassword()"
      />
    </div>
    <small class="text-danger" *ngIf="showPasswordError"
      >Confirm password not match</small
    >
    <app-form-error
      [control]="accountForm.get('retryPassword')"
      [controlName]="'Confirm Password'"
      [minLength]="8"
    >
    </app-form-error>

    <button
      type="submit"
      class="btn btn-primary mt-3 w-100"
      [disabled]="!accountForm.valid"
      (click)="signup()"
    >
      Next
    </button>
  </form>
  <form
    class="form mx-auto border mt-5 p-3 rounded shadow"
    [formGroup]="userForm"
    *ngIf="step == 2"
  >
    <h4 class="text-center mb-3">{{ "User Info" | uppercase }}</h4>
    <label for="name" class="form-label">Name</label>
    <div class="mb-2">
      <input
        formControlName="fullname"
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
      />
    </div>
    <app-form-error
      [control]="userForm.get('fullname')"
      [controlName]="'Full Name'"
    ></app-form-error>
    <div class="form-group mb-2">
      <label for="username" class="form-label">Username</label>
      <input
        formControlName="username"
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    <app-form-error
      [control]="userForm.get('username')"
      [controlName]="'username'"
      [minLength]="5"
    ></app-form-error>
    <!-- Phone and Website -->
    <div class="">
      <label for="phone" class="form-label">Phone</label>
      <input
        formControlName="phone"
        type="tel"
        class="form-control"
        id="phone"
        placeholder="Phone"
      />
    </div>
    <app-form-error
      [control]="userForm.get('phone')"
      [controlName]="'phone'"
    ></app-form-error>

    <div class="d-flex justify-content-around">
      <button
        class="btn btn-primary mt-3 w-25"
        (click)="updateStep('decrease')"
      >
        Previous
      </button>
      <button
        type="button"
        class="btn btn-primary mt-3 w-25"
        [disabled]="!userForm.valid"
        (click)="updateStep('increase')"
      >
        Next
      </button>
    </div>
  </form>

  <app-address-form
    #addressForm
    *ngIf="step == 3"
    [externalClass]="[
      'form',
      'mx-auto',
      'border',
      'px-3',
      'rounded',
      'shadow',
      'p-3',
      'mt-5'
    ]"
  >
    <div class="d-flex justify-content-around" *ngIf="step == 3">
      <button
        class="btn btn-primary mt-3 w-25"
        (click)="updateStep('decrease')"
      >
        Previous
      </button>
      <button class="btn btn-primary mt-3 w-25" (click)="createUserProfile()">
        Submit
      </button>
    </div>
  </app-address-form>
</div>
